.services {
	background: url("@images/services.jpg") center / cover no-repeat;
	color: $white;

	&__blur-wrap {
		padding: 120px 0;
		width: 100%;
		height: 100%;
		backdrop-filter: blur(10px);

		@media (max-width: $medium) {
			padding: 80px 0;
		}

		@media (max-width: $small) {
			padding: 30px 0;
		}
	}

	&__container {
		display: flex;
		gap: 40px;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		@media (max-width: $medium) {
			gap: 20px;
		}
	}

	&__btn {
		color: $white;
		border-color: $white;
		transition: all .3s linear;

		&:hover {
			border-color: $black;
			transition: all .3s linear;
		}
	}

	@media (max-width: $medium) {
		scroll-margin-top: 60px;
	}
}

.accord {
	padding: 50px;
	max-width: 800px;
	width: 100%;
	background-color: rgba($black, .8);
	border-radius: 10px;

	&__list {
		display: flex;
		flex-direction: column;
		gap: 20px;

		@media (max-width: $small) {
			gap: 5px;
		}
	}

	&__item {
		user-select: none;
	}

	&__top {
		padding: 10px;
		display: flex;
		gap: 10px;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;

		&.active {
			.accord__top-icon svg {
				transform: rotate(-180deg);
				transition: all .3s;
			}
		}
	}

	&__top-title {
		font-size: 24px;

		@media (max-width: $medium) {
			font-size: 20px;
		}

		@media (max-width: $small) {
			font-size: 14px;
		}
	}

	&__top-icon {
		width: 20px;
		height: 20px;

		svg {
			width: 100%;
			height: 100%;
			transition: all .3s;
		}
	}

	&__bottom {
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.2s ease-out;
	}

	&__bottom-inner {
		padding: 10px;
	}

	&__bottom-text {
		margin-bottom: 10px;
	}

	&__bottom-price {
		text-align: center;
		color: $red;

		@media (max-width: $small) {
			font-size: 12px;
		}
	}

	@media (max-width: $medium) {
		padding: 30px;
	}

	@media (max-width: $small) {
		padding: 20px;
	}
}