<header id="header" class="header">
	<div class="container header__container">
		<a href="index.html" class="logo header__logo">
			Brooklands
		</a>
		<nav class="header__nav nav">
			<ul class="nav__list">
				<li class="nav__item">
					<a href="#portfolio" class="nav__link">О нас</a>
				</li>
				<li class="nav__item">
					<a href="#services" class="nav__link">Услуги</a>
				</li>
			</ul>
			<ul class="nav__list">
				<li class="nav__item">
					<a href="#footer" class="nav__link">Контакты</a>
				</li>
				<li class="nav__item">
					<a href="login.html" class="nav__link">Войти</a>
				</li>
			</ul>
		</nav>
		<button class="burger" id="burger">
			<span class="center"></span>
		</button>
	</div>
	<div class="menu" id="menu">
		<ul class="menu__list">
			<li class="menu__item">
				<a href="#portfolio" class="menu__link">О нас</a>
			</li>
			<li class="menu__item">
				<a href="#services" class="menu__link">Услуги</a>
			</li>
			<li class="menu__item">
				<a href="#footer" class="menu__link">Контакты</a>
			</li>
			<a href="login.html" class="menu__button nav__button">Войти</a>
		</ul>
	</div>
</header>