<header id="header" class="header">
	<div class="container header__container">
		<a href="index.html" class="logo header__logo">
			Brooklands
		</a>
		<nav class="header__nav nav">
			<ul class="nav__list">
				<li class="nav__item">
					<a href="#" class="nav__link">Профиль</a>
				</li>
				<li class="nav__item">
					<a href="#" class="nav__link">Мои записи</a>
				</li>
			</ul>
			<ul class="nav__list">
				<li class="nav__item">
					<a href="#" class="nav__profile">Qwertyuiop</a>
				</li>
			</ul>
		</nav>
		<button class="burger" id="burger">
			<span class="center"></span>
		</button>
	</div>
	<div class="menu" id="menu">
		<ul class="menu__list">
			<li class="menu__item">
				<a href="#portfolio" class="menu__link">Профиль</a>
			</li>
			<li class="menu__item">
				<a href="#services" class="menu__link">Мои записи</a>
			</li>
			<a href="login.html" class="menu__button nav__button">Qwertyuiop</a>
		</ul>
	</div>
</header>