<section id="portfolio" class="portfolio">
	<div class="portfolio__image">
		<img src="@images/portfolio1.jpg" alt="Portfolio Image">
	</div>
	<div class="container portfolio__container">
		<div class="portfolio__content">
			<h2 class="portfolio__title title title--center">
				Портфолио <span>Brooklands</span> детейлинг
			</h2>
			<p class="portfolio__paragraph paragraph paragraph--center">
				Производим ремонт и обслуживание всех автомобилей. Беремся за работы любой сложности: если вам отказали в
				другом автосервисе, то мы сможем помочь.Возьмем на себя как мелкие поломки, вроде замены лампочки в фаре, так
				и крупные. Например, починим карбюратор, заменим тормозные колодки или ходовую. Даем гарантию на ремонт от
				полугода до трех лет, в зависимости от того, что именно ремонтируем.
			</p>
			<div class="portfolio__icon">
				<svg width="80px" height="80px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<g id="SVGRepo_bgCarrier" stroke-width="0" />
					<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" />
					<g id="SVGRepo_iconCarrier">
						<path
							d="M9 3V7M15 3V6M4 10H20M12 21C10.2337 21 8.91561 19.3737 9.28133 17.6457L9.34332 17.3528C9.56076 16.3254 9.04388 15.2832 8.09439 14.8346L5.9897 13.8401C4.77487 13.2661 4 12.043 4 10.6994V4.63149C4 3.73044 4.73044 3 5.63149 3H18.3685C19.2696 3 20 3.73044 20 4.63149V10.6994C20 12.043 19.2251 13.2661 18.0103 13.8401L15.9056 14.8346C14.9561 15.2832 14.4392 16.3254 14.6567 17.3528L14.7187 17.6457C15.0844 19.3737 13.7663 21 12 21Z"
							stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
					</g>
				</svg>
			</div>
		</div>
	</div>
</section>