<section id="services" class="services">
	<div class="services__blur-wrap">
		<div class="container services__container">
			<h2 class="services__title title title--center">Наши услуги</h2>
			<div class="services__accord accord">
				<ul class="accord__list">
					<li class="accord__item">
						<div class="accord__top">
							<h4 class="accord__top-title">
								Нанесение воска на кузов автомобиля
							</h4>
							<div class="accord__top-icon">
								<svg width="20px" height="20px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
									<path fill="#ffffff"
										d="M104.704 338.752a64 64 0 0 1 90.496 0l316.8 316.8 316.8-316.8a64 64 0 0 1 90.496 90.496L557.248 791.296a64 64 0 0 1-90.496 0L104.704 429.248a64 64 0 0 1 0-90.496z" />
								</svg>
							</div>
						</div>
						<div class="accord__bottom">
							<div class="accord__bottom-inner">
								<p class="accord__bottom-text paragraph">
									Предотвращение выгорания краски под прямыми солнечными лучами.
									Препятствие контакта пыли, грязи, реагентов, которыми посыпаются дороги зимой, с деталями кузова.
									Возможность скрыть мелкие царапины и сгладить неровности.

								</p>
								<p class="accord__bottom-price">
									От 11 000 рублей
								</p>
							</div>
						</div>
					</li>
					<li class="accord__item">
						<div class="accord__top">
							<h4 class="accord__top-title">
								Оклейка тонировочной пленкой
							</h4>
							<div class="accord__top-icon">
								<svg width="20px" height="20px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
									<path fill="#ffffff"
										d="M104.704 338.752a64 64 0 0 1 90.496 0l316.8 316.8 316.8-316.8a64 64 0 0 1 90.496 90.496L557.248 791.296a64 64 0 0 1-90.496 0L104.704 429.248a64 64 0 0 1 0-90.496z" />
								</svg>
							</div>
						</div>
						<div class="accord__bottom">
							<div class="accord__bottom-inner">
								<p class="accord__bottom-text paragraph">
									Снижает температуру воздуха в салоне Вашего автомобиля.
									Уменьшает яркость света фар.
									Обеспечивает 99%-ую защиту от вредного ультрафиолетового излучения.

								</p>
								<p class="accord__bottom-price">
									От 8 000 рублей
								</p>
							</div>
						</div>
					</li>
					<li class="accord__item">
						<div class="accord__top">
							<h4 class="accord__top-title">
								Защитное керамическое покрытие
							</h4>
							<div class="accord__top-icon">
								<svg width="20px" height="20px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
									<path fill="#ffffff"
										d="M104.704 338.752a64 64 0 0 1 90.496 0l316.8 316.8 316.8-316.8a64 64 0 0 1 90.496 90.496L557.248 791.296a64 64 0 0 1-90.496 0L104.704 429.248a64 64 0 0 1 0-90.496z" />
								</svg>
							</div>
						</div>
						<div class="accord__bottom">
							<div class="accord__bottom-inner">
								<p class="accord__bottom-text paragraph">
									Уникальность состава заключается в 80% содержании неорганического диоксида кремния, что дает
									прекрасный мокрый блеск, химическую стойкость и высокую твердость покрытия.
								</p>
								<p class="accord__bottom-price">
									От 13 000 рублей
								</p>
							</div>
						</div>
					</li>
					<li class="accord__item">
						<div class="accord__top">
							<h4 class="accord__top-title">
								Оклейка антигравийной пленкой
							</h4>
							<div class="accord__top-icon">
								<svg width="20px" height="20px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
									<path fill="#ffffff"
										d="M104.704 338.752a64 64 0 0 1 90.496 0l316.8 316.8 316.8-316.8a64 64 0 0 1 90.496 90.496L557.248 791.296a64 64 0 0 1-90.496 0L104.704 429.248a64 64 0 0 1 0-90.496z" />
								</svg>
							</div>
						</div>
						<div class="accord__bottom">
							<div class="accord__bottom-inner">
								<p class="accord__bottom-text paragraph">
									Нанесение защитной антигравийной пленки на автомобиль, для защиты от сколов, царапин и мелких
									повреждений лакокрасочного покрытия.
									Защитной пленкой можно оклеить любые детали авто: крышу, передний и задний бампер, фары, зеркала,
									молдинги, пороги и прочие элементы, на которых есть лак.

								</p>
								<p class="accord__bottom-price">
									От 120 000 рублей
								</p>
							</div>
						</div>
					</li>
					<li class="accord__item">
						<div class="accord__top">
							<h4 class="accord__top-title">
								Полировка кузова автомобиля
							</h4>
							<div class="accord__top-icon">
								<svg width="20px" height="20px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
									<path fill="#ffffff"
										d="M104.704 338.752a64 64 0 0 1 90.496 0l316.8 316.8 316.8-316.8a64 64 0 0 1 90.496 90.496L557.248 791.296a64 64 0 0 1-90.496 0L104.704 429.248a64 64 0 0 1 0-90.496z" />
								</svg>
							</div>
						</div>
						<div class="accord__bottom">
							<div class="accord__bottom-inner">
								<p class="accord__bottom-text paragraph">
									Полировка - комплекс процедур, способствующий сохранению глубины цвета, восстановлению лакокрасочного
									покрытия и его защите от воздействия окружающей среды. С помощью легкой ручной полировки можно
									устранить все неровности и сделать покрытие идеально гладким и блестящим.
								</p>
								<p class="accord__bottom-price">
									От 19 500 рублей
								</p>
							</div>
						</div>
					</li>
					<li class="accord__item">
						<div class="accord__top">
							<h4 class="accord__top-title">
								Химчистка салона автомобиля
							</h4>
							<div class="accord__top-icon">
								<svg width="20px" height="20px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
									<path fill="#ffffff"
										d="M104.704 338.752a64 64 0 0 1 90.496 0l316.8 316.8 316.8-316.8a64 64 0 0 1 90.496 90.496L557.248 791.296a64 64 0 0 1-90.496 0L104.704 429.248a64 64 0 0 1 0-90.496z" />
								</svg>
							</div>
						</div>
						<div class="accord__bottom">
							<div class="accord__bottom-inner">
								<p class="accord__bottom-text paragraph">
									Профессиональная детейлинг химчистка салона автомобиля: полная очистка кожи и текстиля сидений, руля,
									потолка, багажника от любых загрязнений.
								</p>
								<p class="accord__bottom-price">
									От 20 000 рублей
								</p>
							</div>
						</div>
					</li>
					<li class="accord__item">
						<div class="accord__top">
							<h4 class="accord__top-title">
								Детейлинг уход за автомобилем
							</h4>
							<div class="accord__top-icon">
								<svg width="20px" height="20px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
									<path fill="#ffffff"
										d="M104.704 338.752a64 64 0 0 1 90.496 0l316.8 316.8 316.8-316.8a64 64 0 0 1 90.496 90.496L557.248 791.296a64 64 0 0 1-90.496 0L104.704 429.248a64 64 0 0 1 0-90.496z" />
								</svg>
							</div>
						</div>
						<div class="accord__bottom">
							<div class="accord__bottom-inner">
								<p class="accord__bottom-text paragraph">
									Представляет собой более глубокую и тщательную очистку кузова автомобиля от загрязнений различной
									сложности с применением высокотехнологичных и профессиональных средств. Особое внимание уделяется
									мелким деталям и труднодоступным местам.
								</p>
								<p class="accord__bottom-price">
									От 3 500 рублей
								</p>
							</div>
						</div>
					</li>
					<li class="accord__item">
						<div class="accord__top">
							<h4 class="accord__top-title">
								Покраска автомобиля
							</h4>
							<div class="accord__top-icon">
								<svg width="20px" height="20px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
									<path fill="#ffffff"
										d="M104.704 338.752a64 64 0 0 1 90.496 0l316.8 316.8 316.8-316.8a64 64 0 0 1 90.496 90.496L557.248 791.296a64 64 0 0 1-90.496 0L104.704 429.248a64 64 0 0 1 0-90.496z" />
								</svg>
							</div>
						</div>
						<div class="accord__bottom">
							<div class="accord__bottom-inner">
								<p class="accord__bottom-text paragraph">
									Полная покраска автомобиля означает нанесение лакокрасочных материалов на все элементы кузова без
									исключения, она может подразумевать использование цветов или оттенков, отличных от «родных».
								</p>
								<p class="accord__bottom-price">
									От 29 000 рублей
								</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<a href="login.html" class="services__btn btn">Записаться</a>
		</div>
	</div>
</section>